body{
    background-image:url(imagem.jpg) ;
    background-size: cover;
    text-align: center;

}

h1{
color: rgb(226, 17, 164);

}
div{
    border-radius: 20px;

    background-color: rgba(226, 211, 222, 0.753);
}

ul{
    ;
    list-style: none;
}
 h2{
    color: rgb(0, 0, 0);
 }


 form{

padding: 20px;
display: inline-block;

 }
